# Git
.git
.gitignore

# IDE
.idea
.vscode

# Docker
Dockerfile
.dockerignore

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Temporary files
tmp/
temp/

# Log files
*.log

# OS specific
.DS_Store
Thumbs.db 